h2 {
    color: #f4f4f4;
    margin-bottom: 30px;
}

ul {
    width: 60%;
    min-width: 250px;
    position: relative;
    right: calc(-19% + 44px);
    margin: 0;
    margin-top: 80px;
    padding: 14px 44px;
    border: 1px solid #d6d6d6;
    border-radius: 16px;
    box-shadow: #3b3b3b 0px 0px 24px 0px;
}

li {
    list-style: none;
    margin: 0;
    padding: 20px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d6d6d6;
    cursor: pointer;
}

li:first-child {
    border-top: 1px solid #d6d6d6;
}

img {
    filter: invert() brightness(80%);
    cursor: pointer;
}

button {
    font-family: 'Courier New', Courier, monospace;
    border: none;
    background-color: transparent;
    box-shadow: #b9b9b9 0px 0px 0px 1px;
    cursor: pointer;
    color: #d6d6d6;
    padding: 0px;
    margin: 40px 0px 25px;
    width: 150px;
    height: 50px;
    border-radius: 24px;
    position: relative;
    right: calc(-50% + 75px);
    transition: all 0.2s ease;
}

button:hover {
    box-shadow: #dedede 0px 0px 0px 1px;
    font-size: 0.9em;
}

app-add-note, app-note-view {
    background-color: #232323;
    display: none;
    position: absolute;
    top: 0;
    width: 40%;
    height: 400px;
    min-width: 200px;
    left: calc(29% - 44px);
    margin: 0;
    margin-top: calc(20vh - 14px);
    padding: 14px 44px;
    border: 1px solid #d6d6d6;
    border-radius: 16px;
    box-shadow: #3b3b3b 0px 0px 24px 0px;
    z-index: 2;
}

.Important {
    color: #d8b065;
}

#alert {
    position: relative;
    right: calc(-19% + 44px);
    margin: 0;
    margin-top: 10px;
    padding: 14px 44px;
}

#close_background {
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
}